* {
  margin: 0;
  padding: 0;
  font-family: IRANSansXV, sans-serif;
  direction: rtl;
  box-sizing: border-box;
}
*:focus-visible {
  outline: none;
}

body {
  font-family: IRANSansXV, sans-serif;
  height: 100vh;
  direction: rtl;
  overflow: auto;
}

a {
  text-decoration: none;
  color: inherit;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@font-face {
  font-family: "IRANSansXV";
  src: local("IRANSansXV"),
    url(../../public/Assets/font/IRANSansXV.woff2) format("woff2");
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #212529;
}
::-webkit-scrollbar-thumb {
  background: #212529;
}
::-webkit-scrollbar-track {
  background: #fff;
  border: 3px solid #fff;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.activeDayColor:not(.-selectedStart):not(.-selectedBetween):not(
    .-selectedEnd
  ):not(.-selected) {
  border: 2px solid rgba(156, 136, 255, 0.7) !important;
}

#scroll-container {
  border: 3px solid black;
  border-radius: 5px;
  overflow: hidden;
}
